# python数据结构
① Boolean
② Boolean and Logical Operators
③ Lists 序列函数
④ Sets集合函数
⑤ Dictionaries 字典函数
⑥ Tuples 元组函数

## Boolean
Boolean values are the two constant objects True and False

In [3]:
False

False

In [4]:
type(False)

bool

In [6]:
mystr = "小麦"

In [7]:
mystr.istitle()

False

## Boolean and Logical Operators

In [8]:
str_example = "hello world"
my_str = "小麦"

In [9]:
str_example.isalnum()

False

In [10]:
my_str.isalpha() or str_example.isalnum()

True

## Lists序列函数
序列中的每个元素都分配一个数字代表他的位置及索引，第一个索引是0，第二个索引是1，以此类推
序列可作为一个方括号内的逗号分隔值出现

append 添加函数  insert 插入函数  extend扩展函数 pop函数（弹出列表中的值） count函数（计算列表中数据出现的次数）  index索引函数

In [11]:
lst = ['Matheatics', 'chemistry', 100, 200, 300]

In [12]:
lst[2]

100

### append 添加函数

In [13]:
lst.append('language')
lst.append(['yuwen', 'english'])

In [16]:
lst[2:7]

[100, 200, 300, 'language', ['yuwen', 'english']]

### insert 插入函数

In [17]:
lst.insert(3, "jane") #列表第三个位置插入jane

In [18]:
lst

['Matheatics',
 'chemistry',
 100,
 'jane',
 200,
 300,
 'language',
 ['yuwen', 'english']]

### extend 扩展函数

In [19]:
lst = [1,2,3,4,5,6]
lst.extend([7,8]) #将7和8作为一个值添加到lst列表中去

In [20]:
lst

[1, 2, 3, 4, 5, 6, 7, 8]

## set集合函数
创建一个无序不重复元素集，可进行关系测试、删除重复数据，还可以计算交集、差集、并集等

与list的区别：大括号、无重复、

In [1]:
set_var = set()
print(set_var)
print(type(set_var))

set()
<class 'set'>

In [2]:
set_var = {1, 2, 9, 4, 3, 5, 6, 4}
print(set_var)  #顺序无重复

{1, 2, 3, 4, 5, 6, 9}

In [3]:
set_var2 = {"apple", "banana", "pear"}
print(set_var2) #

{'banana', 'pear', 'apple'}

In [5]:
#添加函数 add
set_var2.add("cherry")
print(set_var2)

{'cherry', 'banana', 'pear', 'apple'}

In [16]:
set1 = {'banana', 'pear', 'apple'}
set2 = {'cherry', 'banana', 'pear', 'apple'}

In [14]:
set2.intersection_update(set1)  #交集，将set2更新为交集
print(set2)

{'banana', 'pear', 'apple'}

In [17]:
set2.difference(set1)#差集 
print(set2)
set2.difference_update(set1) #将set2更新为差集
print(set2)

{'cherry', 'banana', 'pear', 'apple'}
{'cherry'}

## Dictionaries字典函数
关联数组或哈希表
大括号，键和值

In [18]:
dic = {}
type(dic)

dict

In [20]:
dic = {'car1': "aodi", 'car2' : "baoma", 'car3' : "benchi"}
print(dic)

{'car1': 'aodi', 'car2': 'baoma', 'car3': 'benchi'}

In [25]:
dic['car4'] = "aodi2"
dic['car1'] = "nisang"
print(dic)

{'car1': 'nisang', 'car2': 'baoma', 'car3': 'benchi', 'car4': 'aodi2'}

In [26]:
for x in dic.items():
    print(x)

('car1', 'nisang')
('car2', 'baoma')
('car3', 'benchi')
('car4', 'aodi2')

## Nested Dictionary 嵌套字典

In [27]:
car1_model = {'nisang': '1997'}
car2_model = {'baoma': '1998'}
car3_model = {'benchi': '2000'}

car_type = {'car1': car1_model,'car2': car2_model,'car3': car3_model,}

In [28]:
car_type

{'car1': {'nisang': '1997'},
 'car2': {'baoma': '1998'},
 'car3': {'benchi': '2000'}}

In [30]:
car_type['car1']

{'nisang': '1997'}

## Tuples 元组函数
元组使用圆括号，

In [31]:
my_tuple = tuple()
type(my_tuple)

tuple